@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

:root{
  --videos-size: 520px;
}

*{
  margin: 0;
  padding: 0;
}

html{
  font-size: 16px;
}

body{
  height: 100vh;
}

.App-header{
  width: 100%;
  background-color: #1e1e1e;
  color: #ffffff;
  padding: 1.2rem;
  box-sizing: border-box;
}

.nav{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.nav-p.start{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.nav-p.start .burger{
  width: 60px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

.nav-p.start .burger .line{
  width: 60%;
  height: 3px;
  margin: 3px;
  background-color: #ffffff;
}

.nav-p.start .burger,
.nav-p.start .logo{
  margin: 0rem 0.5rem;
}

.nav-p.start .logo a{
  text-decoration: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.nav-p.start .logo a .text{
  font-size: 2.2rem;
  font-weight: 500;
  color: #ffffff;
  font-family: 'Roboto' sans-serif;
  font-style: normal;
  margin: 0 0.6rem;
}

.nav-p.center{
  flex: 1 0 720px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-p.center .searchBar .search{
  width: 40rem;
  height: 3rem;
  background-color: #101010;
  box-sizing: border-box;
  padding: 8px;
  color: #ffffff;
  outline: none;
  font-size: 1.2rem;
  border-radius: 5px 5px 5px 5px;
  border: #373737 2px solid;
}

.nav-p.center .searchBar button{
  box-sizing: border-box;
  width: 3rem;
  height: 3rem;
  background-color: #373737;
  border: none;
  cursor: pointer;
}

.nav-p.end{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.nav-p-end-son{
  margin: 0rem 0.5rem;
}
.App-body{
  width: 100%;
  min-height: 90vh;
  display: flex;
}

.body-aside{
  width: 20rem;
  background-color: #1e1e1e;
  padding: 0 1.4rem;
  flex-shrink: 0;

}

.aside-section{
  box-sizing: content-box;
  padding: 1rem 0;
}

.aside-section::after{
  content: '';
  display: block;
  height: 3px;
  width: 100%;
  background-color: #373737;
  border: none;
  
}

.section-title{
  color: #bdbdbd;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.body-main{
  flex: 1;
  background-color: #1e1e1e;
  overflow-x: visible;
}

/*Themes bar*/
.body-themesBar{
  width: 100%;
  box-sizing: border-box;
  background-color: #1e1e1e;
  height: 5rem;
  border-color: #373737;
  border-width: 2px 0px;
  border-style: solid;
  overflow-y: scroll;
  overflow-x: scroll;
  ms-overflow-style: none;  /* hide scrollbar for IE and Edge */
  scrollbar-width: none;  /* hide scrollbar for Firefox */
  padding: 0.7rem 0;
}

.body-themesBar::-webkit-scrollbar{/*H9de scrollbar for Chrome, Safari and Opera*/
  display: none;
}


.body-videos{
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}

.videos-box{
  width: var(--videos-size);
  padding: 1.1rem;
  display: inline-block;
}

